/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 25, 2017, 2:54:50 PM
    Author     : heni8
*/


/*navbar----------------------------------------------------------------------*/
.navbar_information{
    background-color: rgba(98,185,176,0.8);
}

.information_ruller_up
{
    background: url("../images/Path_24.png") no-repeat;
    background-position: bottom;
    /*    background-color:gray;*/
    /*    background-color: black;*/
    /*       background-color:#f3f3f3; */ 
}

/*for slideshow*/
.information_showslide1{
    background: url("../images/photo1.jpg") no-repeat;
    width:400px;
    height: 70px;
    /*    background-position: 0px -2px;
        background-color:gray;*/

}
.information_showslide2{
    background: url("../images/photo2.jpg") no-repeat;
    width:400px;
    height: 70px;
    /*    background-position: 0px -2px;
        background-color:gray;*/

}
.information_showslide3{

    background: url("../images/photo3.jpg") no-repeat;
    width:400px;
    height: 70px;
    /*    background-position: 0px -2px;
        background-color:gray;*/
}
.information_showslide4{
    background: url("../images/photo4.jpg") no-repeat;
    width:400px;
    height: 70px;
    /*    background-position: 0px -2px;
        background-color:gray;*/

}

/*.vestibulumpic{
    background: url("../images/VESTIBULLUM.png") no-repeat;
    width:322px;
    height: 38px;
}*/
.frame_orange{
    margin-left: 400px;
    /*          margin-bottom: 100px;*/
    /*            margin-top: 400px;*/
    /*background-position: bottom;*/
    background-color: orange;
    width:322px;
    height: 38px;
}





/*this color for middle page*/
.greyBox { 
    background: #ececec;
    border-radius: 6px;
    padding: 20px;
}
.button_design_orange{
    width: 8em;  height: 3em;
    background-color:#e2534b;
}
.button_design_green{
    width: 8em;  height: 3em;
 background-color:  rgba(98,185,176,0.8);
 
}
.font_h3_some{
    color: #7f8c8c;

    /*    font-size: 28px;*/

}

.whithbox{
    /*    width: 273px;*/
    height: 313px;
    background-color: rgb(248,248,248);
    border-radius: 6px;
    padding-top: 50px;
}

.icon_middle{

    color: rgba(98,185,176,0.8);
}

.arrow_red{
    color:red;
}

.red_font{
    color:red;
}

.information_middle{
    background-color:#f3f3f3;
}

.information_middle_1{
    background-color: #1b6d85;
}

.information_bubble_think
{   
    background: url("../images/Path_1.png") no-repeat;
    background-size: auto;
    width: 273px;
    height: 147px;
    /*    background-position: 0px -2px;*/
    /*    <img src="images/Path.png" alt="ruler" style="">*/
}

.information_ruller_middle
{
    background: url("../images/Path_0.png") no-repeat;
    background-position: 0px -2px;
    background-color:gray;
    /*    background-color: black;*/
    /*       background-color:#f3f3f3; */ 
}

/*the picture close to end -image pic*/
/*.picture_icon{
    color:whitesmoke;
}*/

/*in the middle end*/
.information_ruller_down
{
    background: url("../images/Path.png") no-repeat;
    background-position: 0px -2px;
    background-color: rgba(98,185,176,0.8);
    /*    <img src="images/Path.png" alt="ruler" style="">*/
}

.containersize{
    height: 500px;
    position: relative;
}
/*for "your image"*/

.information_pic_center{
    background: url("../images/Browsertooenterls.png") no-repeat;
    width: 570px;
    height: 360px;
    left: 0;bottom: 0;top:0;margin: auto;right: 0;
    position: absolute;

}

.information_pic_left{
    background: url("../images/Browserleft.png") no-repeat;
    background-color: rgba(98,185,176,0.8);
    width: 370px;
    height: 259px;
    left: 0;bottom: 0;top:0;margin: auto;
    position: absolute;
}

.information_pic_right{
    background: url("../images/Browserright.png") no-repeat;
    width: 370px;
    height: 259px;
    right: 0;bottom: 0;top:0;margin: auto;
    position: absolute;
    overflow-x: hidden;

}

.color_gray_center{
    color: #7f8c8c;
}

/*in the middle end*/
.font_middle
{ 
    color: rgba(0,0,0,0.5);
}


/*for footer----------------------------------------------------*/
.typeSize{
    margin-top: 20px;
    color: white;
}

/*icon of footer*/
.icon{
    color: white;
}
/*space between icons in footer*/
.space_icon{
    margin-left: 10px;
}

.footer{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #62b9b0;
}


html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    position: relative;
    margin: 0;
    /*    padding-bottom: 6rem;*/
    min-height: 100%;

}